<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header style="background-color: rgb(89, 89, 185);font-size:x-large; font-weight:bolder; margin-bottom:10px; color:white"><h1 style="margin-left: 35rem;">Check students ID</h1></header>
    <div >
    <form action="" method="post">
        <input type="text" name="idNo" id="">
        <button type="submit">Search</button>
    </form>

    
        <fieldset>
            <legend>Student information</legend>
            <label for="">Id No</label> <label for="">adfda</label><br>
            <label for="">F. name</label> <label for="">adfda</label><br>

            <label for="">L. name</label> <label for="">adfda</label><br>

            <label for="">Department</label> <label for="">adfda</label><br>

            <img src="" alt="student image here">
            <h1>uselessthing</h1>
        </fiel