{% extends 'gateguard/base.html' %}
{% block content %}
    <form action="" method="post" class="search-form mt-5">
        
      </form>
    <div>
        <form action="" method="post" class="search-form mt-5 ml-3" >
            <input type="text" name="idNo" id="">
            <button type="submit">Search</button>
        </form>


        <fieldset style="margin-left: 40px;">
            <legend>Student information</legend>
            <label for="">Id No</label> <label for="">adfda</label><br>
            <label for="">F. name</label> <label for="">adfda</label><br>

            <label for="">L. name</label> <label for="">adfda</label><br>

            <label for="">Department</label> <label for="">adfda</label><br>

            <img src="" alt="student image here">
            <h1>uselessthing</h1>
        </fieldset>
    </div>
{% endblock %}