{% extends 'gateguard/base.html' %}
{% block content %}

{% csrf_token %}
<br>
<form action="#" method="POST" style="margin-left: 5%;">
<h3>Fill The Following Fields to Register Laptops</h3>
<div><br>
    <form action="submit-form.php" method="post">
        
        <label for="id_no">ID Number:</label>
        <input type="text" id="id_no" name="id_no"><br>
      
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name"><br>
      
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name"><br>
      
        <label for="model">Model:  </label>
        <input type="text" id="model" name="model"><br>
      
        <label for="serial_number">Serial Number:</label>
        <input type="text" id="serial_number" name="serial_number"><br>

<br>
<div style="margin-left: 250px;">
<button type="submit" class="btn btn-success d-block">Register</button>
</div>

</form>
{% endblock %}