{% load static %}
{% load qr_code %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructor</title>
    <!-- <script src="{% static "jquery/jquery.js" %}"></script>
    <script src="{% static "jquery/plugins/jquery.cookie.js" %}"></script>    </head>
     -->
    <body>
       
        <main>
            <div id="qrcode"></div>
        </main>
        
        {% qr_from_text course size="L" %}
<div>
    
      
    <h1>Send message</h1>
    
    <form action="{% url 'addMaterial' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h2>send course material</h2>
      
        <input type="text" name="course" id=""  value ="{{user.instructor_course}}" hidden> 
         <input type="text" name="chapter" id=""> 
        <input type="text" name="title" id=""> 
        <input type="file" name="material" id="" > 
        <input type="submit" value="Send">
    </form>
</div>

<div>
    <h1>attended students of the day</h1>
    <p>this part will featch the students atteded in class right after taking attendance. putting t in table format seems the best way to me.</p>

</div>
<a href="{% url 'login' %}">Logout</a>
</body>
<script>
 
</script>
 
</html>